<br />
<h2 class="text-center site-heading">Trending Repositories</h2>
<p class="text-center">REPOSITORIES I'M CURRENTLY CONTRIBUTING TO</p>
<br />
<div class="row h-100">
  <div class="col-md-6">
    <div class="card text-white bg-dark mb-3 text-center">
      <div class="card-header">
        <div class="temp-image"></div>
      </div>
      <div class="card-body">
        <h5 class="card-title site-heading">Dark card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title's content.
        </p>
        <div class="">
          <button
            class="btn btn-lg btn-full bg-light-green text-white site-heading"
            style="font-size: 16px;"
          >
            Open In GitHub
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-white bg-dark mb-3 text-center">
      <div class="card-header">
        <div class="temp-image"></div>
      </div>
      <div class="card-body">
        <h5 class="card-title site-heading">Dark card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title's content.
        </p>
        <div class="">
          <button
            class="btn btn-lg btn-full bg-light-green text-white site-heading"
            style="font-size: 16px;"
          >
            Open In GitHub
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
