<div class="container text-center">
  <div class="bg-dark text-white p-4">
    <h2 class="my-auto">New plugins on GitHub</h2>
  </div>
  <br /><br /><br />
  <div class="row">
    <div
      class="card text-white bg-dark mb-3 mx-auto col-sm-4"
      style="max-width: 20rem;"
    >
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div
      class="card text-white bg-dark mb-3 mx-auto col-sm-4"
      style="max-width: 20rem;"
    >
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div
      class="card text-white bg-dark mb-3 mx-auto col-sm-4"
      style="max-width: 20rem;"
    >
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
