<div class="row h-100">
  <div class="col-lg-6 profile-card">
    <img src="./assets/profile-card.png" alt="" style="width: 100%;" />
  </div>
  <div class="col-lg-6 p-4">
    <div class="padding-on-shrink"></div>
    <h1 class="site-heading">Play ▶️ hard and Work 💪 harder</h1>
    <br />
    <div class="padding-on-shrink"></div>
    <p style="font-size: 24px; font-weight: 500;" class="text-muted">
      This is my 🔥 repository. I keep all my projects and works here!
      <br />
      <br />
      <i class="underline-on-hover">Challenge me with more! </i>
      <br />
      <br />
      <span style="font-weight: bold;" class="text-white">
        Like what you see? Give a star (🌟) on
      </span>
      <span class="text-white">
        <button class="btn bg-light text-dark site-heading">
          <i class="fa fa-github"></i> GitHub
        </button>
      </span>
    </p>
    <br />
    <div>
      <button class="btn btn-lg bg-secondary text-white site-heading">
        Explore
      </button>
    </div>
  </div>
</div>
<hr />
<app-project-cards></app-project-cards>
