<div class="container">
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row h-100">
        <div class="col-sm-6 my-auto hide-shrink">
          <h1>Repository</h1>
          <p class="display-5">/rɪˈpɒzɪt(ə)ri/</p>
          <br />
          <br />
          <p>
            Looking for a project? Click the GitHub Repositories above to start
            searching!
          </p>
        </div>
        <div class="col-sm-6">
          <img
            src="https://cdn.dribbble.com/users/391952/screenshots/6388681/dev.jpg"
            alt=""
            width="100%"
          />
        </div>
      </div>
    </div>
  </main>
</div>

<br /><br />

<app-project-cards></app-project-cards>
